body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

#contenedor{
    position: absolute;
    width: 960px;
    height: 500px;
    left: 50%;
    margin-left: -480px;
    background-color: #FFF;
}

#menu{
    position: absolute;
    width: 960px;
    height: 58px;
    background-color: #FFF;
    text-align: center;
    z-index: 3;
}

#menu ul{
    list-style: none;
    text-align: center;
    margin: 0;
    margin-left:60px;
    letter-spacing: 0.05em;
}

#menu ul a{
    text-decoration: none;
    color: #000;
}

#menu ul a li{
    float: left;
    text-decoration: none;
    font-size: 11px;
    background-color: #FFF;
    padding: 15px;
    padding-top: 30px;
    margin-top: 0px;
}

#menu ul a li:hover{
    background-color: #52C3C1;
    color: #FFF;
}

#logo{
    margin-top: 100px;
    width: 960px;
    height: 100px;
    background-color: #FFF;
}

#logo img{
    width: 380px;
    position: absolute;
    left: 50%;
    margin-left: -210px;
}

#imgHome{
    width:960px;
    height: 339px;
    background-color: #555;
    margin-top: 50px;
}

#textHome{
    text-align: center;
    width: 960px;
    margin-top:100px;
    font-size: 13px;
    margin-bottom:100px;
    letter-spacing: 0.045em;
    
}

#textHome p{
    width: 650px;
    margin-left:150px;
}

#seccionesHome{
    width: 960px;
    margin-bottom:100px;
    height: 300px;
}

.seccionHome{
    width: 200px;
    height: 300px;
    background-color: #666;
    float: left;
    margin-right: 90px;
}

.seccionHome:hover{
    opacity: 0.8;
}

.tituloSeccionHome{
    font-size: 21px;
    color: #FFF;
    text-align: center;
    letter-spacing: 0.05em;
}

.seccionHome img{
    margin-left: 65px;
    margin-top: 90px;
    margin-bottom: 50px;
}

#seccionProxEventos{
    width: 880px;
    height: 300px;
    background-color: #f2f2f2;
    padding: 40px;
    margin-top:50px;
    margin-bottom:50px;
    letter-spacing: 0.05em;
}

#textoPEventos{
    width: 800px;
    color: #000;
    letter-spacing: 0.045em;
    margin-top:40px;
    height: 250px;
     -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}

.elementoPEvento{
    font-size: 14px;
    margin-top: 30px;
}

.elementoPEvento:first-child{
    margin-top: 0px;
}


.elementoPEvento a{
    color:#000;
}